html {
    box-sizing: border-box;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
*,
*::after,
*::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.films-section {
    max-width: 1200px;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    margin-top: 50px;
    box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
}
.films-header{
    width: 100%;
    border: 1px solid green;
    display: flex;
}
form{
    flex-grow: 1;
    display: flex;
    padding: 10px;
}
.films-list{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    /* border: 1px solid black; */
    width: 100%;
    height: 800px;
    overflow-y: auto;
    padding: 0 5px;
    
}
.films-item {
    width: 540px;
    border: 1px solid red;
    margin-bottom: 10px;
    background-color: #0E1621;
}

iframe{
    width: 538px;
}
select{
    flex-grow: 1;
    font-size: 20px;
}
select, button {
    padding: 5px;
}

button {
    padding: 2px 40px;
    font-size: 20px;
}
.films-link{
    text-decoration: underline;
    text-decoration-color: transparent;
    padding: 5px;
    font-size: 18px;
    display: flex;
    align-items: center;
    transition: 1s;
}
.films-link:hover {
    text-decoration-color: red;
    transition: 1s;
    background-color:greenyellow;
}
.item-content {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #0E1621;
    color: white;
}